.trs {
  transition: 0.3s ease-in-out;
}
.br(@val) {
  border-radius: @val;
}
.postAbsolute{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.shadow{
  filter: drop-shadow(0 6px 30px rgba(50, 52, 72, 0.1))
}
.text-eclipse {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical !important;
  text-overflow: ellipsis !important;
}