.trs {
  transition: 0.3s ease-in-out;
}
.br(@val) {
  border-radius: @val;
}
.postAbsolute{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.text-eclipse(@var) {
  display: -webkit-box !important;
  -webkit-line-clamp: @var;
  -webkit-box-orient: vertical !important;
  text-overflow: ellipsis !important;
}