@import "modern-normalize/modern-normalize.css";
@import "_fonts";
html {
  font-size: 16px;
}
body {
  font-family: "DIN Pro", serif;
  // background: #f2f2f2;
  overflow: hidden;
}
.container {
  padding: 10px 7.813em;
  width: 100%;
  @media @xxl {
    padding: 10px 6.25em;
  }
  @media @lg {
    padding: 10px 4.375em;
  }
  @media @md {
    padding: 10px 1.875em;
  }
  @media @xs {
    padding: 10px 1.4em;
  }
  &-wrapper {
    //margin-bottom: 30vh;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: @black;
}

h4 {
  color: #fff;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 30px;
  @media @md {
  }
}
.widget {
  text-decoration: none;
  position: fixed;
  background: @gray;
  box-shadow: 0 0 2px 0px @black;
  .br(100%);
  .trs();
  padding: 8px 10px;
  color: @black;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  h3 {
    font-size: 2em;
    color: @black;
    display: block;
  }
  &-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    span {
      font-weight: 600;
      font-size: 1.2em;
      color: @black;
      display: block;
      margin-bottom: 12px;
    }
  }
  .error {
    font-weight: 600;
    font-size: 1.2em;
    color: @red;
  }
  button {
    margin-top: 1em;
  }
  &-state {
    font-weight: 600;
    color: @orange;
    margin-top: 10px;
    cursor: pointer;
  }
}
.button {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  .br(40px);
  .trs();
  width: 100%;
}
.button:hover {
  background: #c3c3c3;
  .trs();
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
